@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pet Shop!</h1>
    <p>Source code is <a href="https://github.com/rouvinerh/PetShop">here</a>.</p>

    <img src="~/img/cutestmix.jpg" alt="German Sheperd x Corgis" />
</div>
