@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<p>This website was created for me to learn about MVC frameworks. It is a basic pet shop, with a MSSQL database as the backend.</p>

<p>It is not made to be the most defensive / to demonstrate web attacks, just a small project I did for fun :D</p>